@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
}

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(43, 90%, 50%);
  --text-color: hsl(0, 0%, 42%);
  --black-color: hsl(0, 0%, 8%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 98%);
  --body-second-color: hsl(25, 70%, 55%);
  --shadow-img: -8px 8px 16px hsla(0, 0%, 0%, .2);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 4.5rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 10.5rem;
    --big-font-size: 5.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg{
  width: 4rem;
}

html{
  font-size: 62.5%;
  font-family: var(--body-font);
}
img{
  box-shadow: var(--shadow-img);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============== HEADER & NAV ===============*/
.header{

}
.nav{
  justify-content: space-between;
  padding: 2rem;
  color: var(--black-color);
}
.nav__logo{
  font-size: 3.5rem;
  color: inherit;
  font-weight: bold;
}
.nav__menu{
  justify-content: space-between;
  width: 60vw;
}
.nav__list{
  width: 100%;
  justify-content: space-evenly;
}
.nav__link{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: inherit;
  position: relative;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav__link:hover{
  color: var(--first-color);
}
.nav__link::before{
  content: "";
  width: 0px;
  height: 0.3rem;
  background-color: var(--black-color);
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  transition: all 300ms ease-in-out;
}
.nav__link:hover::before{
  width: 30px;
}
.close{
  display: none;
  cursor: pointer;
}
.toggle{
  display: none;
  cursor: pointer;
}


/*=============== HOME ===============*/
.home{
  display: grid;
  position: relative;
  background-color: var(--body-second-color);
  height: 90rem;
  padding: 1rem;
}
.home__bg ,.home__gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__bg{
  object-fit: cover;
  object-position: center;
}
.home__gradient{
  background: linear-gradient(180deg, hsla(25,75%,55%,0) 80%,hsla(25,75%,55%) 100%);
}
.home__data{
  position: absolute;
  justify-self: center;
  text-align: center;
  top: 25rem;
}
.home__subtitle{
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-weight: lighter;
}
.home__title{
  font-size: 8rem;
  color: var(--white-color);
  letter-spacing: 2px;
  font-weight: bolder;
}
.home__swiper{
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin: 8rem auto 0;
  padding: 0 2rem;
}
.home__article{
  text-align: center;
}
.home__img{
  box-shadow: none;
  width: 60rem;
}
.swiper{
   align-self: center;
   justify-self: center;
   width: 100%;
   margin: 10rem auto 0;
}
 .home .swiper-pagination{
  bottom: 0 !important;
}
.home .swiper-pagination-bullet{
  background: hsla(0, 0%, 100%, .35);
  opacity: 1;
}
.home .swiper-pagination-bullet-active{
  background: var(--white-color);
}
.home__button{
  position: absolute;
  justify-self: center;
  bottom: 5rem;
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--white-color);
  flex-direction: column;
  cursor: pointer;
}
.home__button svg{
  width: 2rem;
  margin-top: 1rem;
}

/* Swiper class */


/*=============== BUTTON ===============*/


/*=============== ABOUT ===============*/


/*=============== MODELS ===============*/


/*=============== INFO ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
  .nav__menu{
    width: auto;
    justify-content: flex-end;
  }
  .nav__list{
    position: fixed;
    flex-direction: column;
    background-color: var(--body-color);
    width: 100%;
    top: -100%;
    left: 0;
    padding: 8rem 2rem 2rem;
    gap: 3rem;
    height: 50rem;
    transition: all 300ms ease-in-out;
    z-index: 99;
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, .15);
  }
  .nav__list.open{
    top: 0;
  }
  .toggle{
    display: block;
    cursor: pointer;
  }
  .close{
    display: block;
    position: fixed;
    z-index: 101;
    top: -100%;
    right: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .close.open{
    top: 3rem;
  }
  .nav__logo{
    font-size: 2.5rem;
  }
  .home__img{
    width: 90%;
  }
  .swiper{
    margin: 0 auto;
  }
  .home__subtitle{
    font-size: 2rem;
  }
  .home__title{
    font-size: 4rem;
  }
  .home__button{
      width: 8rem;
      height: 8rem;
  }
}
@media screen and (max-width: 576px) {

}
